{include file="common/home_header"/} 
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/styles/datagrid.css">
    <style>
     /* .table>thead>tr>td{vertical-align: middle;border-right: 1px solid #ddd;}*/

    </style>
    <style>
       .panel-body {
            padding: 0; 
       }
       .panel {
            margin-bottom: 0;
        }
        .datagrid-header, .datagrid-td-rownumber{
            background: #fbfbfc;
        }
        .detail-num{
          border-bottom: 1px solid #d5dadf;
        } 
    </style>
    <div class="container">
      <div class="detail-hd">
        <span  onClick="javascript:history.go(-1)">返回</span>
      </div>
      <div class="staff-cont">
        <div class="detail-num tc">
          <span>批次人数：<strong>{$history.num}</strong>人</span>
          <span>实发工资总计：<strong class="s-red">{$history.salary}</strong>元</span>
          <span>个税总计：<strong>{$history.tax}</strong>元</span>
        </div>
        <div class="detail-box">
          <table class="table tc table-2" id="dataGrid">
          
          </table>
        </div>
      </div>
    </div>
    <script src="/static/bootstrap/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/static/bootstrap/scripts/global.js"></script>
    <script src="/static/bootstrap/scripts/theme/jquery.easyui.min.js"></script>

    <script type="text/javascript">
       showLoading();
       {if condition="$error_msg"}popup({txt:'{$error_msg}'});{/if}
       $(function(){
        var frozenAll=[],columnsAll=[],rows1;
        var data=<?php echo json_encode($salary_list);?>;
        frozenAll.push(data[0]);
        if(data[1].length){
          columnsAll.push(data[1]);
        }
        columnsAll.push(data[2]);
        rows1=data[3];
        var total=rows1.length;
        $('#dataGrid').datagrid({
             width:  '1138',
             height: "500",
             nowrap: true,//设置为 true，则把数据显示在一行里。设置为 true 可提高加载性能。
             striped: false,//设置为 true，则把行条纹化。（即奇偶行使用不同背景色）
             border: true,
             method: 'get',
             frozenColumns:frozenAll,
             columns: columnsAll,
             onLoadSuccess: function (data) { 
               closeLoading()       
             }
         }).datagrid('loadData', { total: total, rows: rows1});
       })

    </script>
  </body>
</html>