{include file="common/home_header"/}   
    <div class="container mt50">
      <div class="salary-tip">
        <span><i></i>系统对所有薪酬数据均做了加密处理，采用银行级加密算法，即便数据库管理员也无法查看到原始数据。
        </span>
      </div>
     <div class="container xinchou-nodata">
       <img src="/static/bootstrap/images/no_xinchou.png" alt=""/>
       <h3>您还没有发过工资，赶快首页去发工资吧！</h3>
       <span onclick="window.location.href='/dsb/salary/index.html'">发工资条</span>
       <img src="/static/bootstrap/images/no_xinchou_1.png" alt=""/>
     </div>
    </div>
    <script src="/static/bootstrap/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/static/bootstrap/scripts/global.js"></script>
  </body>
</html>