<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>桔子工资条</title>
    <meta name="keywords" content="桔子工资条">
    <meta name="description" content="桔子工资条">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="baidu-site-verification" content="QdeC9lUVJX" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta name=”applicable-device” content=”pc”>
    <link href="/static/pc/img/favicon.ico"  type="image/x-icon" rel="shortcut icon">
    <link rel="stylesheet" href="/static/pc/website/css/base.css" />
    <link rel="stylesheet" href="/static/pc/website/css/landing.css"/>
<body>
<div class="landing">
    <div class="header">
        <div class="header-content">
            <div class="header-left">
                <a href="/dsb/index/index.html" class="header-img">
                     <img src="/static/pc/img/logo.png" alt="">
                    <h1>
                        桔子工资条
                    </h1>
                </a>
                <div class="header-guide">
                    <span><a href="/dsb/index/index.html" {if condition="$nav=='index'"}class="on"{/if}>首页</a></span>
                    <span><a href="/dsb/index/about.html" {if condition="$nav=='about'"}class="on"{/if}>关于我们</a></span>
                </div>
            </div>
            <div class="header-right">
                <span class="header-btn" onclick="javascript:window.location.href='/dsb/user/register.html'">注册体验</span>
            </div>
            <div class="header-right">
                <div class="header-mobile-icon"></div>
                <span>400-900-2825</span>
            </div>
        </div>
    </div>