<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>桔子工资条 -- 简单好用的工资条 Sass</title>
    <link href="/static/bootstrap/styles/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap/styles/main.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="register">
        <div class="header-info"><i></i><h3>桔子工资条</h3><span>--简单好用的工资条 Sass--</span></div>
        <div class="register-form">
          <div class="exam tc">
            <img src="/static/bootstrap/images/exam.gif" alt="">
            <h3>账号正在审核中</h3>
            <span onclick="window.location.href='/dsb/user/logout.html'">返回登录</span>
            <p>联系电话：400-900-2825</p>
          </div>
          <!-- <ul>
            <li class="active">
              <span>01</span>
              注册账号
            </li>
            <i></i>
            <li class="active">
              <span>02</span>
              公司基本信息
            </li>
          </ul>
          <div>
            <form class="form-signin tc">
              <div>
                   <label for="">公司名称：</label>
                   <span>{$company->company_name}</span>
              </div>
              <div>
                   <label for="">公司地址：</label>
                   <span>{$company->address}</span>
              </div>
              <div>
                   <label for="">联系人：</label>
                   <span>{$company->contact}</span>
              </div>
              <div>
                   <label for="">联系邮箱：</label>
                   <span>{$company->email}</span>
              </div>

              <div class="register-licence">
                <label for="" class="v-top">营业执照：</label>
                <div class="register-upload">
                  <div class="to-update">
                    <input type="file" value="" id="license"  name="license"  accept="image/*"/>
                    <img src="<?php echo APP_HOST . $company->license;?>" id="ImgPr" alt="营业执照">
                  </div>
                </div>
              </div>
              <div class="register-btn">
                <span class="btn"  >审核中</span>
              </div>
            </form>
          </div> -->
        </div>
     

    </div> 


    <script src="/static/bootstrap/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/static/bootstrap/scripts/global.js"></script>
   <!--  <script src="/static/bootstrap/scripts/registerStep2.js"></script> -->
  </body>
</html>