{include file="common/index_header"/} 
    <div>
        <div class="about">
           <h3>—— 关于我们 ——</h3> 
        </div>
        <div class="about-us">
            <div>
                <h3>公司介绍</h3>
                <p>桔子工资条隶属于北京科悦信达科技有限公司，是一家专注于企业服务的互联网综合服务平台。<br/>
                秉承“专注、极致、高效”的服务理念。面向企业用户，我们尊重客户切身利益，致力于与优秀客户建立长期战略合作伙伴关系。我们
                享受和客户一起工作、成长的过程。希望通过我们的服务，带给客户极致的企业服务体验。<br/>
                面向自由职业者，我们希望能帮助您在工作与生活迎来新的机遇与挑战时，为您解决基础社保的后顾之忧，助力您事业上新的腾飞。我
                们始终坚持以客户需求为导向，为追求用户体验设计，提供有针对性的项目解决方案，不断地超越自我，挑战险峰！</p>
                <h3>联系我们</h3>
                <p> 地址：北京市朝阳区惠河南街1008-B四惠大厦5008室<br/>
                电子邮件：contact@dashebao.com<br/>
                联系电话：4009002825<br/>
                商务合作QQ: 306456882</p>
            </div>
        </div>
    </div>
    <div class="footer fixed">
        <p class="footer-text">© 2019· 版权所有 京ICP备09015318号-4 </p>
    </div>
</div>
</body>
</html>